body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/img/backG.png');
    background-size: 100%;
    width: 100%;
    height: 600px;
    margin-top: 40px;
}

hr {
    height: 2px;
    background: white;
}

header {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin: auto;
}

h1 {
    font-size: 30pt;
    font-weight: bolder;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.50);
}

p {
    font-size: 13pt;
}

#campo {
    padding: 10px;
}

.icon {
    width: 80px;
    height: 80px;
}

button:hover {
    background-color: aliceblue;
    border-radius: 20px;
}

button:focus {
    transform: translateY(4px);
}

footer {
    background-color: white;
    padding: 18px;
    margin-top: 35px;
    color: rgb(64, 143, 45);
}

footer a {
    margin-bottom: 35px;
}