/* #centro {
    margin-top: 30px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

body {
    background-image: url('/img/backG.png');
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}



main {
    margin-top: 30px;
}


form {
    margin: auto;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    margin-top: 25px;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.50);
}

img {
    border-radius: 30px;
}

label {
    font-size: 20pt;
    color: white;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.50);
}


a {
    color: white;
    text-decoration: none;
}

div {
    padding: 7px;
}

a:hover {
    color: white;
    text-decoration: none;

}

.botao {
    color: white;
    width: 100px;
    font-weight: 700;
    padding: 10px;
}

.btnSpace {
    display: inline-block;
    padding-right: 10px;
}


.campo {
    border-radius: 20px;
}

.radioLabel {
    font-size: 15pt;
    padding-top: 10px;
}


.form-group {
    width: 70%;
    margin: auto;
}