body {
    background-image: url(/img/backG.png);
    background-size: 100%;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
     font-family: 'Roboto', sans-serif;
}

/* Título e fundo */

h1, .fundo {
    text-align: center;
    color: rgba(27, 116, 68, 0.6);
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: italic;
    font-size: 24px;
    font-weight: 900;
    margin-top: 5px;
    width: 272px;
    top: 6px;
    border-radius: 15px;
    margin: auto;
    display: block;
    padding-bottom: 3px;
}

/* Footer */

footer {
    background-color: white;
    padding: 18px;
    margin-top: 35px;
    color: rgb(64, 143, 45);
}

footer a {
    margin-bottom: 35px;
}

/* Fontes */

label {
    letter-spacing: 1px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

/* select */
.select{
    border: 1px solid;
    background-color: #f1f1f1;
    padding: 8px;
    font-size: 16px;
}

/* Caixas de texto */

.box {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}

.font {
    font-size: 16px;
    font-weight: 900;
}

/* Select materias */

#altQ {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

#altF {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

#altB {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

/* Radio Buttons */

/* Para alternativas */

#alt1 {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

#alt2 {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

#alt3 {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

#alt4 {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

/* Para Dificuldade */

#altFa {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

#altMe {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

#altDi {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

/* Botão enviar */

.botao {
    color: rgba(27, 116, 68, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 10%;
    font-style: italic;
    font-weight: 800;
    width: 80px;
}

/* autocomplete */
.autobox {
    font: 16px Arial;
    box-sizing: border-box;
  }

  .autocomplete {
    position: relative;
    display: inline-block;
  }

  .dosIrmao {
    border: 1px solid;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }

  .dosIrmao[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
